@using Microsoft.AspNet.Identity;
@model IEnumerable<Course_Work.Models.OfferViewModel>

@{
    ViewBag.Title = "Index";
}
<h2>Available offers</h2>
<form class="form-wrapper cf">
    <input type="text" placeholder="Search here..." required>
    <button type="submit">Search</button>
</form>


@foreach (var item in Model)
{
    if (item.UserID != User.Identity.GetUserId())
    {
        <div class="OfferElement">
            <div style="float:left; width: 20%">
                <img style="height: 100px;" src="@Html.DisplayFor(modelItem => item.FilePath)" />
            </div>
            <div style="float:left; width: 80%;">
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                <h6>@Html.DisplayFor(modelItem => item.Description)</h6>
                <h6>Зарплата/місяць : @Html.DisplayFor(modelItem => item.Price) грн.</h6>
                @Html.ActionLink("More info", "MoreInfo", new { id = item.OfferId })
            </div>
            <hr>
        </div>
    }

}
