@using Microsoft.AspNet.Identity;
@model Course_Work.Models.OfferViewModel

@{
    ViewBag.Title = "MoreInfo";
}
<div class="container" style="margin-bottom:-250px;">
    <div style="margin-top:2%;">
        <img style="        height: 150px;
        width: 150px;
        border: 5px outset #333333;
        border-radius: 10px 40px 10px 40px;" src="@Html.DisplayFor(model => model.FilePath)" />
        @if (Model.IsVerified == true)
        {<h2>@Html.DisplayFor(model => model.Title)  ✓ </h2>}
    else
    {<h2>@Html.DisplayFor(model => model.Title) </h2>}
        @if (User.Identity.IsAuthenticated && User.Identity.GetUserId() != Model.UserID)
        {
            <div class="button" id="button-2">
                <div id="slide"></div>
                <a class="ourA" href="@Url.Action("Create", "Resume", new { @id = Model.OfferId })">Відгукнутися</a>
            </div>
        }
    </div>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Опис: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Контактний телефон: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserPhone)
            </dd>

            <dt>
                Зарплата: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                Контактна пошта: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Категорія: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt>
                Місто: 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cityName)
            </dd>
        </dl>
    </div>

    @*@Html.ActionLink("Відгукнутися", "Create", "Resume", new { id_offer = Model.OfferId })*@
</div>

