@model IEnumerable<Course_Work.Areas.Admin.Models.userModel>

@{
    ViewBag.Title = "Index";
}

<h2>Користувачі</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            <a href="@Url.Action("Delete", "Admin", new { id = item.Id })">Видалити</a> |
            <a href="@Url.Action("ShowOffers", "Admin", new { id = item.Id })">Керувати вакансіями</a>

        </td>
    </tr>
}

</table>
