@using Course_Work.Models;
@model dynamic
@{
    ViewBag.Title = "MoreInfo";
}

<h2>MoreInfo</h2>
@{
    OfferViewModel off = null;
}
<div>
    <h4>OfferViewModel</h4>
    <hr />
    @foreach (OfferViewModel i in Model.Offer)
    {
        off = i;
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => i.OfferId)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.OfferId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.UserPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.UserPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.IMGUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.IMGUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.UserID)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.UserID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => i.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.CategoryName)
            </dd>
        </dl>
        @*@Html.ActionLink("Резюме", "Index", "Resume", new { id = i.OfferId });*@
    }
    @{
        var flag = false;
        foreach (ResumeViewModel item in Model.Resumes)
        {
            if (item.IsSelected == true)
            {
                flag = true;
            }
        }
    }
    @foreach (ResumeViewModel item in Model.Resumes)
    {
        <div>
            @if (item.IsEmailed == true)
            {
                <h5>EMAILED</h5>
            }
            else
            { <a href="@Url.Action("Email","Resume",new { @id = item.Resume_ID })">send Email</a>}
            @if (item.IsSelected == true)
            {
                <h5>SELECTED</h5>
                <a href="@Url.Action("unSelect","Resume",new { @id = item.Resume_ID, @offer_id = off.OfferId })">UNSelect user</a>
            }
            else if (flag != true)
            { <a href="@Url.Action("toSelect","Resume",new { @id = item.Resume_ID, @offer_id = off.OfferId })">Select user</a>}
            <div style="float:left; width: 80%;">
                <h6>@Html.DisplayFor(modelItem => item.User_Name)</h6>
                <h6>@Html.DisplayFor(modelItem => item.User_Surname)</h6>
                <h6>@Html.DisplayFor(modelItem => item.User_Email)</h6>
                <h6>@Html.DisplayFor(modelItem => item.PhoneNumber)</h6>
                <h6>@Html.DisplayFor(modelItem => item.Additionals)</h6>
            </div>
            <hr>

        </div>
    }

</div>
