@using Course_Work.Models;
@using Microsoft.AspNet.Identity;
@model dynamic
@{
    ViewBag.Title = "MoreInfo";
}

@{
    OfferViewModel off = null;
}
<div class="container" style="margin-bottom:-250px;word-wrap: break-word;">
    <div style="float:left; width:25%; margin-top:4%">
        @foreach (OfferViewModel i in Model.Offer)
        {

            off = i;

        <div style="margin-top:2%;">
            <img style="        height: 150px;
        width: 150px;
        border: 5px outset #333333;
        border-radius: 10px 40px 10px 40px;" src="@Html.DisplayFor(model => i.FilePath)" />
            @if (i.IsVerified == true)
            {<h2>@Html.DisplayFor(model => i.Title)  ✓ </h2>}
        else
        {<h2>@Html.DisplayFor(model => i.Title) </h2>}
        </div>
            <div>
                <hr />
                <dl>
                    <dt>
                        Опис:
                    </dt>

                    <dd>
                        <div style="
                        width: 90%;
                        height: 70px;
                        overflow-y: auto;">
                            @Html.DisplayFor(model => i.Description)
                        </div>

                    </dd>

                    <dt>
                        Контактний телефон:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => i.UserPhone)
                    </dd>

                    <dt>
                        Зарплата:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => i.Price)
                    </dd>

                    <dt>
                        Контактна пошта:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => i.Email)
                    </dd>

                    <dt>
                        Категорія:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => i.CategoryName)
                    </dd>
                    <dt>
                        Місто:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => i.cityName)
                    </dd>
                </dl>
            </div>

            @*@Html.ActionLink("Відгукнутися", "Create", "Resume", new { id_offer = Model.OfferId })*@

            @*@Html.ActionLink("Резюме", "Index", "Resume", new { id = i.OfferId });*@
        }
    </div>
    <div style="  border-left: 3px solid #333;
  height: 700px; float:left"></div>
    @{
        var flag = false;
        foreach (ResumeViewModel item in Model.Resumes)
        {
            if (item.IsSelected == true)
            {
                flag = true;
            }
        }
    }
<div style="float: left;
        margin-left: 5%;
        width: 65%;
        height: 600px;
        overflow-y: auto;">


        @foreach (ResumeViewModel item in Model.Resumes)
        {
    <div>


        @if (item.IsSelected == true)
        {
            <div style="margin: 50px;float:left; width: 92%; border: 2px solid #333333; -webkit-box-shadow: 0px 0px 28px 0px rgba(32,122,2,1);
-moz-box-shadow: 0px 0px 28px 0px rgba(32,122,2,1);
box-shadow: 0px 0px 28px 0px rgba(32,122,2,1); " class="bordered">

                <h4 style="float:left; margin-left:2%;">@Html.DisplayFor(modelItem => item.User_Name)</h4>
                <h4 style="float:left; margin-left:2%;">@Html.DisplayFor(modelItem => item.User_Surname)</h4>
                <h4 style="float:left; margin-left:2%;">@Html.DisplayFor(modelItem => item.User_Email)</h4>
                <h4 style="float:left; margin-left:2%;">@Html.DisplayFor(modelItem => item.PhoneNumber)</h4>
                <h4 style="float:left; margin-left:2%;">@Html.DisplayFor(modelItem => item.Additionals)</h4>
                @if (item.IsEmailed == true)
                {
                    <h4 style="color:#11A44C; float:left; margin-left:10px;">Проінформований</h4>
                }
                else
                { <h4 style="float:left; margin-left:2%;"><a href="@Url.Action("Email","Resume",new { @id = item.Resume_ID})">Відправити Email</a></h4>}
                @if (item.IsSelected == true)
                {
                    <h4 style="float:left; margin-left:2%;"><a href="@Url.Action("unSelect","Resume",new { @id = item.Resume_ID, @offer_id = off.OfferId })">Зняти Відбір</a></h4>
                }
                else if (flag != true)
                { <h4 style="float:left; margin-left:2%;"><a href="@Url.Action("toSelect","Resume",new { @id = item.Resume_ID, @offer_id = off.OfferId })">Відібрати</a></h4>}
            </div>

        }
        else
        {
            <div style="margin: 50px;float:left; width: 92%; border: 2px solid #333333;" class="bordered">

                <h4 style="float:left; margin-left:2%;">@Html.DisplayFor(modelItem => item.User_Name)</h4>
                <h4 style="float:left; margin-left:2%;">@Html.DisplayFor(modelItem => item.User_Surname)</h4>
                <h4 style="float:left; margin-left:2%;">@Html.DisplayFor(modelItem => item.User_Email)</h4>
                <h4 style="float:left; margin-left:2%;">@Html.DisplayFor(modelItem => item.PhoneNumber)</h4>
                <h4 style="float:left; margin-left:2%;">@Html.DisplayFor(modelItem => item.Additionals)</h4>
                @if (item.IsEmailed == true)
                {
                <h4 style="color:#11A44C;float:left; margin-left:10px;">Проінформований</h4>
                }
                else
                { <h4 style="float:left; margin-left:2%;"><a href="@Url.Action("Email","Resume",new { @id = item.Resume_ID})">Відправити Email</a></h4>}
                @if (item.IsSelected == true)
                {
                    <h4 style="float:left; margin-left:2%;"><a href="@Url.Action("unSelect","Resume",new { @id = item.Resume_ID, @offer_id = off.OfferId })">Зняти Відбір</a></h4>
                }
                else if (flag != true)
                { <h4 style="float:left; margin-left:2%;"><a href="@Url.Action("toSelect","Resume",new { @id = item.Resume_ID, @offer_id = off.OfferId })">Відібрати</a></h4>}
            </div>
        }



    </div>
        }
   
</div>
</div>
