@using Course_Work.Models;
@model dynamic
@{
    ViewBag.Title = "MoreInfo";
}

<h2>MoreInfo</h2>

<div>
    <h4>OfferViewModel</h4>
    <hr />
    @foreach (OfferViewModel i in Model.Offer)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => i.OfferId)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.OfferId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.UserPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.UserPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.IMGUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.IMGUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => i.UserID)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.UserID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => i.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => i.CategoryName)
            </dd>
        </dl>
        @*@Html.ActionLink("Резюме", "Index", "Resume", new { id = i.OfferId });*@
    }
    @foreach (ResumeViewModel item in Model.Resumes)
    {
        <div>
            <div style="float:left; width: 80%;">
                <h6>@Html.DisplayFor(modelItem => item.User_Name)</h6>
                <h6>@Html.DisplayFor(modelItem => item.User_Surname)</h6>
                <h6>@Html.DisplayFor(modelItem => item.User_Email)</h6>
                <h6>@Html.DisplayFor(modelItem => item.PhoneNumber)</h6>
                <h6>@Html.DisplayFor(modelItem => item.Additionals)</h6>
            </div>
            <hr>
        </div>
    }

</div>
